name: build

on: push

jobs:

  image:
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup buildx
        uses: docker/setup-buildx-action@v1

      - name: Set variables
        id: vars
        run: |
          echo ::set-output name=version_tag::$(echo ${GITHUB_REF#refs/*/})
          echo ::set-output name=repo_name::$(echo ${GITHUB_REPOSITORY#*/*})

      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: false
          build-args: |
            APP_HOME=/home/node/${{ steps.vars.outputs.repo_name }}
          cache-from: |
            ${{ github.repository }}:latest
